@font-face {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    src: local('Asap'), local('Asap-Regular'), url(http://themes.googleusercontent.com/static/fonts/asap/v1/-KZsao_xwBpcExaHoPH8_w.ttf) format('truetype');
  }
body {
	margin: 0;
    background-color: azure;
    font-family: 'Asap', sans-serif;
  }

.container{
    
    border-bottom: 1px solid #999999;
    box-shadow: 0px 1px 10px #999999;  
}

.navbar{
    margin-left: 15%;
    margin-right: 15%;
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
}
.nav-link{
    padding-left: 12px;
}
.nav-link ul{
    display: inline-flex;
    overflow: hidden;
    justify-content: space-between;
    width: 114px;
    padding-top: 10px;
}
.home{
    
    font-size: 13pt;
    color: #999999;
    padding-top: 1px;
    font-weight: bolder;
}

.about{
    
    font-size: 13pt;
    color: #333333;
    padding-top: 1px;
    font-weight: bolder;
}
.logo{
    margin-top: 5px;
    margin-left: 0px;
}
.icon{
    padding-right: 3px;
}
.icon img{
    margin-left: 20px;
}
.illustration{
    display: flex;
    justify-content: center;
    margin: 0 16%;
    padding-top: 5%;
}
.illustration-content h6{
    
    color: #333333;
    font-size: 30pt;
    font-weight: bolder;
    padding-bottom: 6%;
}
.illustration-content{
    margin-right: 6%;
}
.illustration-content img{
    padding-top: 5px;
}
.illustration-content p{
    
    color: #999999;
    font-size: 14pt;
    line-height: 1.6;
    padding-bottom: 30px;
}

.circle-top{
    height: 80px;
    width: 80px;
    background-color: #f5f5f5;
    border: 6px solid azure;
    border-radius: 50%;
    margin: -46px 46.5%;
    z-index: 1;
    position: relative;
}
.circle-top p{
    font-size: 17px;
    color: #999999;
    padding-top: 34px;
    padding-left: 23px;
    font-weight: bolder;
}
.progress{
    background-color: #f5f5f5;
    height: 500px;
    z-index: 0;
    position: relative;
    padding-top: 3%;
    display: flex;
    padding-bottom: 35px;
}
.progress-left{
    width: 50%;
}
.speech-bubble-left {
	position: relative;
    background: azure;
    border-radius: 1em;
    padding: 30px 18px;
    width: 51%;
    margin-top: 5%;
    margin-bottom: 75px;
    margin-left: 28%;
}

.speech-bubble-left:after {
	content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-left-color: azure;
    border-right: 0;
    margin-top: -16px;
    margin-right: -16px;
}
.speech-bubble-left h6{
    font-weight: bolder;
    font-size: 15pt;
    color: #333333;
    padding-bottom: 15px;
}
.speech-bubble-left p{
    font-size: 13pt;
    color: #999999;
}

.progress-center{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: azure;
    width: 10px;
}
.progress-circle{
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    position: relative;
    margin: -7.5px;
}
.progress-right{
    width: 50%;

}
.speech-bubble-right {
	position: relative;
    background: azure;
    border-radius: 1em;
    padding: 30px 18px;
    width: 51%;
    margin-top: 21.3%;
    margin-bottom: -9.5%;
    margin-left: 14%;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-right-color: azure;
	border-left: 0;
	margin-top: -16px;
	margin-left: -16px;
}
.speech-bubble-right h6{
    font-weight: bolder;
    font-size: 15pt;
    color: #333333;
    padding-bottom: 15px;
}
.speech-bubble-right p{
    font-size: 13pt;
    color: #999999;
}


.circle-bottom{
    height: 80px;
    width: 80px;
    background-color: #B22222;
    border: 6px solid azure;
    border-radius: 50%;
    margin: -46px 46.5%;
    z-index: 1;
    position: relative;
}
.circle-bottom p{
    font-size: 17px;
    color: white;
    padding-top: 34px;
    padding-left: 23px;
    font-weight: bolder;
}
.hello-upcomer{
    text-align: center;
    margin: 100px;
}
.hello-upcomer h2{
    font-size: 30pt;
    font-weight: bolder;
    color: #333333;
    margin-bottom: 30px;
}
.hello-upcomer p{
    font-size: 13pt;
    color: #999999;
    margin: 4% 18%;
    line-height: 1.5;
}
.important{
    font-weight: bolder;
}
.hello-upcomer-btn{
    border: none;
    background-color: #2eee71;
    text-align: center;
    border-radius: 30px;
    width: 310px;
    height: 60px;
}
.upcoming{
    background-color: #333333;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.upcoming h6{
    
    color: #ffffff;
    font-size: 48pt;
    padding-top: 7.5%;
    margin-left: -6%;
}
.footer{
    display: flex;
    justify-content: center;
    padding: 3% 0;
}
.footer a{
    padding: 0px 7px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .navbar{
        margin: 0 8%;
    }
    .illustration{
        margin: 0 9%;
    }
    .circle-top{
        margin: -46px 45.5%;
    }
    .circle-bottom{
        margin: -46px 45.5%;
    }
    .hello-upcomer p {
        font-size: 11pt;
        margin: 4% 9%;
        line-height: 1.2;
    }
    .upcoming h6 {
        padding-top: 9.5%;
        margin-left: -8%;
    }
    .speech-bubble-right {
        margin-top: 26.3%;
        margin-bottom: -14.5%;
    }
    .speech-bubble-left {
        margin-top: 5%;
        margin-bottom: 56px;
    }

}
@media only screen and (min-width: 480px) and (max-width: 767px){ 
    .hello-upcomer p {
        font-size: 5.5pt;
        margin: 4% 8%;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px){
    .illustration-content img{
        width: 231%;
        height: auto;
    }
}
