@font-face {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    src: local('Asap'), local('Asap-Regular'), url(http://themes.googleusercontent.com/static/fonts/asap/v1/-KZsao_xwBpcExaHoPH8_w.ttf) format('truetype');
  }
body {
	margin: 0;
    background-color: azure;
    font-family: 'Asap', sans-serif;
  }

.container{
    margin-left: 15%;
    margin-right: 15%;
    padding: 1% 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    padding-left: 12px;
}
.nav-link ul{
    display: inline-flex;
    overflow: hidden;
    justify-content: space-between;
    width: 114px;
    padding-top: 10px;
}
.home{
    
    font-size: 13pt;
    color: #333333;
    padding-top: 1px;
    font-weight: bolder;
}

.about{
    
    font-size: 13pt;
    color: #999999;
    padding-top: 1px;
    font-weight: bolder;
}
.logo{
    margin-top: 5px;
    margin-left: 0px;
}
.icon{
    padding-right: 3px;
}
.icon img{
    margin-left: 20px;
}

.sign-in{
    padding-top: 35px;
    background-image: url("../images/bg1_repeat.png");
    height: 50%;
    text-align: center;
}
.sign-in h1{
    
    margin: 0 18%;
    padding-top:30px;
    font-weight: bold;
    color: whitesmoke;
    font-size: 52pt;
}

.sign-in p{
    margin: 0 17%;
    
    font-size: 18pt;
    color: whitesmoke;
    padding-top: 45px;
}
.important{
    font-weight: bolder;
}
.email-input form{
    padding-top: 60px;
    display:flex;
    justify-content: center;
    padding-bottom:15px; 
    text-align: center;
}
.email-input [type="email"]{
    opacity: .3;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 60px;
    width:269px;
    border: none;
    justify-content: center;
    color: #ffff;
}
.placeholder {
    text-align: center;
    color: black;
    opacity: 1;
    
    font-size: 20.6pt;
  }
::-webkit-input-placeholder{
    opacity: 1;
}
.email-input button{
    height: 62px;
    border: none;
    background-color: #2ecc71;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 81px;
    
    color: #ffff;
    font-size: 20.3pt
}
.email-input p{
    
    font-size: 12pt;
    color: #ffffff;
    padding-top: 1px;
    padding-bottom: 75px;
}


.feed{
    margin: 0 0;
    text-align: center;
    background-color: #ffff;
    padding-top: 1px;
}
.feed-header h3{
    
    color: #333333;
    font-size: 36pt;
    padding-top: 30px;
    font-weight: bolder;
    padding-top: 40px;
    margin-bottom: 35px;
}

.feed-header p{
    
    color: #999999;
    font-size: 20pt;
    margin: 0 23%; 
}
.illustration{
    padding: 8% 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}
.illustration-content{
    display: flex;
    justify-content: center;
    margin: 0 12%;
}
.illustration-img img{
    height: 50%;
    width: auto;
    margin-top: 10%;
}
.illustration-header1{
    margin-left:10%;
}
.illustration-header1 h6{
    
    color: #333333;
    font-size: 36pt;
    margin-top: 15%;
    margin-bottom: 12%;
    font-weight: bolder;
}
.illustration-header1 p{
    
    color: #999999;
    font-size: 15pt;
}

.illustration-header2{
    margin-right: 10%;
}
.illustration-header2 h6{
    
    color: #333333;
    font-size: 36pt;
    margin-top: 18%;
    margin-bottom: 12%;
    text-align: end;
    font-weight: bolder;
}
.illustration-header2 p{
    
    color: #999999;
    font-size: 15pt;
    text-align: end;
}
.sign-up{
    background-image: url("../images/bg2.png");
    text-align: center;
    padding: 8% 0;
}
.sign-up h6{
    
    color: #ffffff;
    font-size: 29pt;
    margin-bottom: 3%;
    font-weight: bolder;
}
.sign-up p{
    
    color: #ffffff;
    font-size: 20pt;
    margin-bottom: 11px;
}
.sign-up-button{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.sign-up-button a{
    height: 60px;
    width: 260px;
    border-radius: 30px;
    border: none;
    padding: 0px 10px;
}

.upcoming{
    background-color: #333333;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.upcoming h6{
    
    color: #ffffff;
    font-size: 48pt;
    padding-top: 7.5%;
    margin-left: -6%;
}
.footer{
    display: flex;
    justify-content: center;
    padding: 3% 0;
}
.footer a{
    padding: 0px 7px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .container {
        margin-left: 10%;
        margin-right: 10%;
    }   
    .sign-in h1 {
        margin: 0 15%;
        font-size: 29pt;
    }
    .sign-in p {
        margin: 0 18%;
        font-size: 14pt;
        line-height: 1.3;
    }
    .feed-header h3{
        font-size: 29pt;
    }
    .feed-header p{
        font-size: 14pt;
        line-height: 1.3; 
    }
    .feed-image img{
        width: 100%;
    }
    .illustration-content img{
        width: 56%;
    }
    .illustration-header1 h6 {
        font-size: 26pt;
    }
    .illustration-header1 p {
        font-size: 12pt;
        line-height: 1.1;
    }
    .illustration-header2 h6 {
        font-size: 26pt;
    }
    .illustration-header2 p {
        font-size: 12pt;
        line-height: 1.1;
    }
    .illustration-content {
        margin-top: 6%;
    }
    .upcoming h6 {
        font-size: 32pt;
        padding-top: 13.5%;
        margin-left: -10%;
    }

}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .container {
        margin-left: 0;
        margin-right: 0;
    }
    .sign-in h1 {
        margin: 0 1%;
        font-size: 25pt;
    }
    .sign-in p {
        margin: 0 11%;
        font-size: 12pt;
        padding-top: 30px;
    }
    .email-input form {
        padding-top: 40px;
    }
    .feed-header h3{
        font-size: 25pt;
    }
    .feed-header p{
        font-size: 12pt;
        margin: 0% 12%;
    }
    .feed-image img{
        width: 100%;
    }
    .illustration-content img{
        width: 54%;
        height: 128%;
    }
    .illustration-header1 h6 {
        font-size: 16pt;
        margin-top: 11%;
        margin-bottom: 10%;
    }
    .illustration-header1 p {
        font-size: 11pt;
    }
    .illustration-header2 h6 {
        font-size: 16pt;
        margin-top: 11%;
        margin-bottom: 10%;
    }
    .illustration-header2 p {
        font-size: 11pt;
    }
    .illustration-content {
        margin: 9% 12%;
    }
    .upcoming h6 {
        font-size: 33pt;
        padding-top: 11.5%;
        margin-left: -9%;
        margin-right: 4%;
    }
    .sign-up-button {
        flex-direction: column;
        margin-left: 22%;
    }
    .sign-up h6 {
        margin: 3% 2%;
        font-size: 21pt;
    }
    .sign-up-button a {
        padding: 7px 10px;
    }
    .sign-up p {
        font-size: 14pt;
    }
    .upcoming h6 {
        margin-left: -12%;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px){
    .sign-in h1 {
        margin: 0% 15%;
        font-size: 40pt;
    }
    .sign-in p {
        margin: 0 18%;
    }
}